<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">
<link rel="apple-touch-icon" sizes="180x180" href="/themes/default/public/tv/apple-touch-icon.png?v=<%- page.ver %>">
<link rel="icon" type="image/png" href="/themes/default/public/tv/favicon-32x32.png?v=<%- page.ver %>" sizes="32x32">
<link rel="icon" type="image/png" href="/themes/default/public/tv/favicon-16x16.png?v=<%- page.ver %>" sizes="16x16">
<link rel="manifest" href="/themes/default/public/tv/manifest.json?v=<%- page.ver %>">
<link rel="mask-icon" href="/themes/default/public/tv/safari-pinned-tab.svg?v=<%- page.ver %>">
<meta name="theme-color" content="#000000">
<link rel="stylesheet" href="https://unpkg.com/tvwww/TVwww.min.css?v=<%- page.ver %>">
<script src="https://unpkg.com/tvwww/TVwww.min.js?v=<%- page.ver %>"></script>
<style>html, body {
        cursor: none !important;
    }</style>
<%- page.codes.head %>