<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header-main.ejs %>

        <div id="content" class="clearfix">

            <% include ../includes/header-sec.ejs %>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/comments" class="btn hidden-xs">
                            <%= __('Модуль комментариев') %>
                        </a>
                        <a href="https://CinemaPress.io/admin/comments.html" class="btn" title="<%= __('Информация о параметрах модуля добавления виджетов комментариев') %>" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <% if (modules.comments.status) { %>
                        <a href="javascript:void(0)" data-module="comments" data-status="false" class="btn btn-danger module-status power-off">
                            <i class="fa fa-power-off"></i>&nbsp;<%= __('Отключить') %>
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="comments" data-status="true" class="btn btn-success module-status power-on">
                            <i class="fa fa-power-off"></i>&nbsp;<%= __('Активировать') %>
                        </a>
                        <% } %>
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.comments.status) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<%= __('Disqus') %>
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/comments.html#cmnt1" class="csstip" title="<%= __('Ваш shortname указанный при регистрации веб-сайта на Disqus.com и ключ API') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.comments.data.disqus.shortname" value="<%= modules.comments.data.disqus.shortname %>" class="form-control" type="text" placeholder="<%= __('Ваш shortname веб-сайта') %>">
                                        </div>

                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.comments.data.disqus.api_key" value="<%= modules.comments.data.disqus.api_key %>" class="form-control" type="text" placeholder="<%= __('Ваш api_key для индексации комментариев') %>">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-12">
                                            <div class="cinema-box">
                                                <div class="cinema-box-header">
                                                    <div class="cinema-label">
                                                        <i class="fa fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;<%= __('Блок последних комментариев') %>
                                                    </div>
                                                    <div class="cinema-label hidden-xs" style="float: right">
                                                        <a href="https://CinemaPress.io/admin/comments.html#last1" class="csstip" title="<%= __('Блок с последними комментариями от пользователей') %>" target="_blank">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="inner-padding">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <select name="modules.comments.data.disqus.recent.num_items" class="form-control">
                                                                <% for (var i = 0; i <= 20; i++) { %>
                                                                <% if (modules.comments.data.disqus.recent.num_items === i) { %>
                                                                    <% if (i === 0) { %>
                                                                    <option value="<%= i %>" selected="selected">
                                                                        <%= __('Не показывать') %>
                                                                    </option>
                                                                    <% } else { %>
                                                                    <option value="<%= i %>" selected="selected">
                                                                        <%- i %> <%= __('комментария(ев)') %>
                                                                    </option>
                                                                    <% } %>
                                                                <% } else { %>
                                                                    <% if (i === 0) { %>
                                                                    <option value="<%= i %>">
                                                                        <%= __('Не показывать') %>
                                                                    </option>
                                                                    <% } else { %>
                                                                    <option value="<%= i %>">
                                                                        <%- i %> <%= __('комментария(ев)') %>
                                                                    </option>
                                                                    <% } %>
                                                                <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <select name="modules.comments.data.disqus.recent.excerpt_length" class="form-control">
                                                                <% for (var i = 50; i <= 500; i = i+50) { %>
                                                                <% if (modules.comments.data.disqus.recent.excerpt_length === i) { %>
                                                                <option value="<%= i %>" selected="selected">
                                                                    <%= __('Макс. %s символов', i) %>
                                                                </option>
                                                                <% } else { %>
                                                                <option value="<%= i %>">
                                                                    <%= __('Макс. %s символов', i) %>
                                                                </option>
                                                                <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <select name="modules.comments.data.disqus.recent.hide_avatars" class="form-control">
                                                                <% if (modules.comments.data.disqus.recent.hide_avatars) { %>
                                                                <option value="1" selected="selected">
                                                                    <%= __('без аватара') %>
                                                                </option>
                                                                <option value="0">
                                                                    <%= __('с аватаром') %>
                                                                </option>
                                                                <% } else { %>
                                                                <option value="1">
                                                                    <%= __('без аватара') %>
                                                                </option>
                                                                <option value="0" selected="selected">
                                                                    <%= __('с аватаром') %>
                                                                </option>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="spacer-10"></div>

                                                        <div class="col-lg-12 col-xs-12 text-center">
                                                            <div class="inline-labels">
                                                                <label>
                                                                    <%= __('На страницах:') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.disqus.recent.display" value="index" type="checkbox" <% if (modules.comments.data.disqus.recent.display.indexOf('index')+1) { %> checked="" <% } %> data-name="index"><span></span> <%= __('главная') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.disqus.recent.display" value="category" type="checkbox" <% if (modules.comments.data.disqus.recent.display.indexOf('category')+1) { %> checked="" <% } %> data-name="category"><span></span> <%= __('категория') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.disqus.recent.display" value="content" type="checkbox" <% if (modules.comments.data.disqus.recent.display.indexOf('content')+1) { %> checked="" <% } %> data-name="content"><span></span> <%= __('контент') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.disqus.recent.display" value="movie" type="checkbox" <% if (modules.comments.data.disqus.recent.display.indexOf('movie')+1) { %> checked="" <% } %> data-name="movie"><span></span> <%= __('фильм') %>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-comments"></i>&nbsp;&nbsp;&nbsp;<%= __('HyperComments') %>
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/comments.html#cmnt2" class="csstip" title="<%= __('Укажите widget_id который Вы получите после создания виджета комментариев на HyperComments.com и sekretkey для индексации комментариев поисковыми системами') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.comments.data.hypercomments.widget_id" value="<%= modules.comments.data.hypercomments.widget_id %>" class="form-control" type="text" placeholder="<%= __('Ваш widget_id') %>">
                                        </div>

                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.comments.data.hypercomments.sekretkey" value="<%= modules.comments.data.hypercomments.sekretkey %>" class="form-control" type="text" placeholder="<%= __('Ваш sekretkey для индексации комментариев') %>">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-sm-12">
                                            <div class="cinema-box">
                                                <div class="cinema-box-header">
                                                    <div class="cinema-label">
                                                        <i class="fa fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;<%= __('Блок последних комментариев') %>
                                                    </div>
                                                    <div class="cinema-label hidden-xs" style="float: right">
                                                        <a href="https://CinemaPress.io/admin/comments.html#last2" class="csstip" title="<%= __('Блок с последними комментариями от пользователей') %>" target="_blank">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="inner-padding">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <select name="modules.comments.data.hypercomments.recent.num_items" class="form-control">
                                                                <% for (var i = 0; i <= 20; i++) { %>
                                                                <% if (modules.comments.data.hypercomments.recent.num_items === i) { %>
                                                                <% if (i === 0) { %>
                                                                <option value="<%= i %>" selected="selected">
                                                                    <%= __('Не показывать') %>
                                                                </option>
                                                                <% } else { %>
                                                                <option value="<%= i %>" selected="selected">
                                                                    <%- i %> <%= __('комментария(ев)') %>
                                                                </option>
                                                                <% } %>
                                                                <% } else { %>
                                                                <% if (i === 0) { %>
                                                                <option value="<%= i %>">
                                                                    <%= __('Не показывать') %>
                                                                </option>
                                                                <% } else { %>
                                                                <option value="<%= i %>">
                                                                    <%- i %> <%= __('комментария(ев)') %>
                                                                </option>
                                                                <% } %>
                                                                <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <select name="modules.comments.data.hypercomments.recent.excerpt_length" class="form-control">
                                                                <% for (var i = 50; i <= 500; i = i+50) { %>
                                                                <% if (modules.comments.data.hypercomments.recent.excerpt_length === i) { %>
                                                                <option value="<%= i %>" selected="selected">
                                                                    <%= __('Макс. %s символов', i) %>
                                                                </option>
                                                                <% } else { %>
                                                                <option value="<%= i %>">
                                                                    <%= __('Макс. %s символов', i) %>
                                                                </option>
                                                                <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="spacer-10"></div>

                                                        <div class="col-lg-12 col-xs-12 text-center">
                                                            <div class="inline-labels">
                                                                <label>
                                                                    <%= __('На страницах:') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.hypercomments.recent.display" value="index" type="checkbox" <% if (modules.comments.data.hypercomments.recent.display.indexOf('index')+1) { %> checked="" <% } %> data-name="index"><span></span> <%= __('главная') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.hypercomments.recent.display" value="category" type="checkbox" <% if (modules.comments.data.hypercomments.recent.display.indexOf('category')+1) { %> checked="" <% } %> data-name="category"><span></span> <%= __('категория') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.hypercomments.recent.display" value="content" type="checkbox" <% if (modules.comments.data.hypercomments.recent.display.indexOf('content')+1) { %> checked="" <% } %> data-name="content"><span></span> <%= __('контент') %>
                                                                </label>
                                                                <label>
                                                                    <input name="modules.comments.data.hypercomments.recent.display" value="movie" type="checkbox" <% if (modules.comments.data.hypercomments.recent.display.indexOf('movie')+1) { %> checked="" <% } %> data-name="movie"><span></span> <%= __('фильм') %>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="far fa-comment"></i>&nbsp;&nbsp;&nbsp;<%= __('VK') %>
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/comments.html#cmnt3" class="csstip" title="<%= __('Ваш ID приложения типа «Веб-сайт» на vk.com') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="modules.comments.data.vk.app_id" value="<%= modules.comments.data.vk.app_id %>" class="form-control" type="text" placeholder="<%= __('Ваш ID приложения') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;<%= __('Facebook') %>
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/comments.html#cmnt4" class="csstip" title="<%= __('Зарегистрируйтесь на facebook.com и укажите User Id (идентификатор пользователя, который сможет модерировать комментарии)') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="modules.comments.data.facebook.admins" value="<%= modules.comments.data.facebook.admins %>" class="form-control" type="text" placeholder="<%= __('Ваш ID на Facebook') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="far fa-comments"></i>&nbsp;&nbsp;&nbsp;<%= __('Cackle') %>
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/comments.html#cmnt5" class="csstip" title="<%= __('Укажите ID который Вы получите после создания виджета комментариев на Cackle.me (платно)') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="modules.comments.data.cackle.id" value="<%= modules.comments.data.cackle.id %>" class="form-control" type="text" placeholder="<%= __('Ваш ID виджета') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="far fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;<%= __('SigComments') %>
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/comments.html#cmnt7" class="csstip" title="<%= __('Параметр host_id, который получите после регистрации в сервисе') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="modules.comments.data.sigcomments.host_id" value="<%= modules.comments.data.sigcomments.host_id %>" class="form-control" type="text" placeholder="<%= __('Ваш host_id') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4><%= __('Модуль') %> «<%- title %>» <%= __('отключен') %></h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    <%= __('Модуль позволяет добавить на веб-сайт формы комментариев социальных сетей VK, Facebook, Disqus, HyperComments, Cackle, Google+, SigComments.') %>
                                    <br>
                                    <%= __('Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.') %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>