<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

    <script src="/themes/default/public/admin/js/jscolor.min.js"></script>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header-main.ejs %>

        <div id="content" class="clearfix">

            <% include ../includes/header-sec.ejs %>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="#" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/player" class="btn hidden-xs">
                            <%= __('Модуль плеера на веб-сайте') %>
                        </a>
                        <a href="https://CinemaPress.io/admin/player.html" class="btn" title="<%= __('Информация о параметрах модуля плеер на веб-сайте') %>" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <% if (modules.player.status) { %>
                        <a href="javascript:void(0)" data-module="player" data-status="false" class="btn btn-danger module-status power-off">
                            <i class="fa fa-power-off"></i>&nbsp;<%= __('Отключить') %>
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="player" data-status="true" class="btn btn-success module-status power-on">
                            <i class="fa fa-power-off"></i>&nbsp;<%= __('Активировать') %>
                        </a>
                        <% } %>
                        <a href="#" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.player.status) { %>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;4h0y.github.io
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#yohoho" class="csstip" title="<%= __('Параметры плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="yohoho" <% if (modules.player.data.display === 'yohoho') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.yohoho.player" value="<%= modules.player.data.yohoho.player %>" class="form-control" type="text" placeholder="<%= __('Видео-хостинги источники') %>">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-lg-6 col-xs-6 text-right">
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.yohoho.trailer" value="<%= modules.player.data.yohoho.trailer %>" class="form-control" type="text" placeholder="<%= __('Видео-хостинги источники трейлеров') %>">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-lg-6 col-xs-6 text-right">
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.yohoho.bg" value="<%= modules.player.data.yohoho.bg %>" class="form-control jscolor {hash:true}" type="text" placeholder="<%= __('Цвет элементов в плеере') %>">
                                        </div>

                                        <div class="spacer-10"></div>

                                        <div class="col-lg-6 col-xs-6 text-right">
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.yohoho.button" value="<%= modules.player.data.yohoho.button %>" class="form-control" type="text" placeholder="videocdn: Player, collaps: Online">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Moonwalk.cc
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#moonwalk" class="csstip" title="<%= __('Указание токен-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="moonwalk" <% if (modules.player.data.display === 'moonwalk') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.moonwalk.token" value="<%= modules.player.data.moonwalk.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <!--<div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Hdgo.cc
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#hdgo" class="csstip" title="<%= __('Указание токен-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="hdgo" <% if (modules.player.data.display === 'hdgo') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.hdgo.token" value="<%= modules.player.data.hdgo.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Kodik.cc
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#kodik" class="csstip" title="<%= __('Указание токен-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="kodik" <% if (modules.player.data.display === 'kodik') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.kodik.token" value="<%= modules.player.data.kodik.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Iframe.video
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#iframe" class="csstip" title="<%= __('Указание токен-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="iframe" <% if (modules.player.data.display === 'iframe') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.iframe.token" value="<%= modules.player.data.iframe.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Videocdn.com
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#videocdn" class="csstip" title="<%= __('Указание api_token-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="videocdn" <% if (modules.player.data.display === 'videocdn') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.videocdn.token" value="<%= modules.player.data.videocdn.token %>" class="form-control" type="text" placeholder="<%= __('api_token-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Collaps.org
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#collaps" class="csstip" title="<%= __('Указание токен-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="collaps" <% if (modules.player.data.display === 'collaps') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.collaps.token" value="<%= modules.player.data.collaps.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;Hdvb.cc
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#hdvb" class="csstip" title="<%= __('Указание токен-ключа плеера') %>" target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <div class="inline-labels">
                                                <label>
                                                    <input name="modules.player.data.display" value="hdvb" <% if (modules.player.data.display === 'hdvb') { %> checked="" <% } %> type="radio"><span></span> <%= __('сделать основным') %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-center">
                                            <input name="modules.player.data.hdvb.token" value="<%= modules.player.data.hdvb.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="col-sm-12">
                            <div class="cinema-box">
                                <div class="cinema-box-header">
                                    <div class="cinema-label">
                                        <i class="fa fa-play-circle"></i>&nbsp;&nbsp;&nbsp;YouTube.com
                                    </div>
                                    <div class="cinema-label hidden-xs" style="float: right">
                                        <a href="https://CinemaPress.io/admin/player.html#youtube" class="csstip" title="<%= __('Указание токен-ключа') %>"
                                           target="_blank">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="inner-padding">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 text-center">
                                            <input name="modules.player.data.youtube.token" value="<%= modules.player.data.youtube.token %>" class="form-control" type="text" placeholder="<%= __('Токен-ключ') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4><%= __('Модуль') %> «<%- title %>» <%= __('отключен') %></h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    <%= __('Модуль позволяет добавить на веб-сайт плеер для онлайн просмотра фильмов.') %>
                                    <br>
                                    <%= __('Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.') %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>