<?xml version="1.0" encoding="utf-8" ?>
<rss xmlns:yandex="http://news.yandex.ru" xmlns:media="http://search.yahoo.com/mrss/"
     xmlns:turbo="http://turbo.yandex.ru" version="2.0">
    <% if (typeof movies === 'object') { %>
        <channel>
            <title><%= config.titles.index %></title>
            <link><%- config.protocol %><%- (config.bomain ? config.botdomain : config.subdomain) %><%- (config.bomain || config.domain) %></link>
            <description>
                <![CDATA[<%- config.descriptions.index.replace(/<\/?[^>]+>/g, '').replace(/\s+/g, ' ').replace(/(^\s*)|(\s*)$/g, '').substr(0, 200).replace(/"([^"]*?)"/gi, '«$1»').replace('"', '&quot;') %>
                ]]>...
            </description>
            <% movies.forEach(function (movie) { %>
                <% var poster = (movie.poster || movie.image) ? config.protocol + (config.bomain ? config.botdomain : config.subdomain) + (config.bomain || config.domain) + (movie.poster || movie.image) : ''; %>
                <% var poster_big = (movie.poster_big || movie.image) ? config.protocol + (config.bomain ? config.botdomain : config.subdomain) + (config.bomain || config.domain) + (movie.poster_big || movie.image) : ''; %>
                <% var picture = (movie.picture || movie.image) ? config.protocol + (config.bomain ? config.botdomain : config.subdomain) + (config.bomain || config.domain) + (movie.picture || movie.image) : ''; %>
                <item <% if (movie.turbo_false) { %>turbo="false"<% } else { %>turbo="true"<% } %>>
                    <title><%= movie.title %></title>
                    <link><%- movie.url %></link>
                    <description><![CDATA[<img align="left" hspace="5" width="150" src="<%- poster %>"/><%- movie.description_short %>...<br/>]]></description>
                    <enclosure url="<%- poster_big %>" type="image/jpeg"/>
                    <pubDate><%- (new Date((new Date()) * 1 - 1000 * Math.round(1 - 0.5 + Math.random() * 3600))).toUTCString() %></pubDate>
                    <turbo:content>
                        <![CDATA[
                        <header>
                            <figure>
                                <img src="<%- picture %>" alt="Picture"/>
                            </figure>
                            <h1><%- movie.title %></h1>
                        </header>
                        <% if (movie.description.length >= 400) { %><% var d = movie.description.split('. '); %><% d.splice(Math.round(d.length / 2), 0, '</p><p>'); %><p><%- (d.join('. ')).replace(' </p><p>. ', '</p> <p>') %>...</p><% } else { %><% if (movie.description) { %><p><%- movie.description %></p><% } else { %><p><%- movie.title %></p><% } %><% } %>
                        ]]>
                    </turbo:content>
                </item>
            <% }); %>
        </channel>
    <% } %>
</rss>