<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <%- include('includes/head.ejs'); -%>

</head>
<body>

<%- include('includes/header.ejs'); -%>

<div class="info">
    <a href="<%- page.protocol %><%- page.domain %>/"><%- page.l.home %></a> » <%- movie.genre_url %>
    » <%= movie.title %>
</div>

<div class="clear"></div>

<div class="poster">
    <img src="<%- movie.poster_min %>" alt="<%= page.title %>" title="<%= page.title %>"
         data-cinemapress-poster="<%- movie.poster %>">
</div>
<h1><%- page.h1 %></h1>

<% if (movie.year_url) { %>

    <div class="info">
        <%- page.l.year %>: <%- movie.year_url %>
    </div>

<% } %>
<% if (movie.countries_url) { %>

    <div class="info">
        <%- page.l.countries %>: <%- movie.countries_url %>
    </div>

<% } %>
<% if (movie.genres_url) { %>

    <div class="info">
        <%- page.l.genres %>: <%- movie.genres_url %>
    </div>

<% } %>

<div class="clear"></div>

<% if (movie.directors_url) { %>

    <div class="info">
        <%- page.l.director %>: <%- movie.directors_url %>
    </div>

<% } %>
<% if (movie.actors_url) { %>

    <div class="info">
        <%- page.l.actors %>: <%- movie.actors_url %>
    </div>

<% } %>
<% if (movie.tags_url) { %>

    <div class="info">
        <%- page.l.tags %>: <%- movie.tags_url %>
    </div>

<% } %>

<div class="clear"></div>

<% if (movie.kp_vote) { %>
    <div class="info">
        <div class="logo-kp"></div>
        <span style="color:#F56504; font-weight: 800; font-size: 18px;">&nbsp;<%- movie.kp_rating / 10 %>&nbsp;</span>
        <% for (var kp = 10; kp >= 1; kp--) {
            var star_kp = (Math.round(movie.kp_rating / 10) >= kp)
                    ? '<div class="star-true star-true-kp"></div>'
                    : '<div class="star-false star-false-kp"></div>'; %>
        <%- star_kp %>
        <% } %>
    </div>
<% } %>

<% if (movie.imdb_vote) { %>
    <div class="info">
        <div class="logo-imdb"></div>
        <span style="color:#E3B71E; font-weight: 800; font-size: 18px;">&nbsp;<%- movie.imdb_rating / 10 %>&nbsp;</span>
        <% for (var imdb = 10; imdb >= 1; imdb--) {
            var star_imdb = (Math.round(movie.imdb_rating / 10) >= imdb)
                    ? '<div class="star-true star-true-imdb"></div>'
                    : '<div class="star-false star-false-imdb"></div>'; %>
        <%- star_imdb %>
        <% } %>
    </div>
<% } %>

<div class="clear"></div>

<% if (movie.quality) { %>

    <div class="info" style="line-height: 2;">
        <%- page.l.quality %>: <%- movie.quality %>
    </div>

<% } %>
<% if (movie.translate) { %>

    <div class="info" style="line-height: 2;">
        <%- page.l.translate %>: <%- movie.translate %>
    </div>

<% } %>

<div class="clear"></div>

<div class="info episodesListBlock" style="display: none;">
    <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
</div>

<div class="clear"></div>

<% if (typeof page.adv === 'object' && page.adv.over) { %>
    <div style="text-align: center; margin: 10px auto;">
        <%- page.adv.over %>
    </div>
    <div class="clear"></div>
<% } %>

<div class="info block" style="text-align: center">
    <a href="<%- movie.url %>"><%- page.l.information %></a>
    <% if (page.urls.movies.online) { %>
        <span> | </span>
        <a href="<%- movie.url %>/<%- page.urls.movies.online %>"><%- page.l.online %></a>
    <% } %>
    <% if (page.urls.movies.download) { %>
        <span> | </span>
        <a href="<%- movie.url %>/<%- page.urls.movies.download %>"><%- page.l.download %></a>
    <% } %>
    <% if (page.urls.movies.picture) { %>
        <span> | </span>
        <a href="<%- movie.url %>/<%- page.urls.movies.picture %>"><%- page.l.picture %></a>
    <% } %>
</div>

<div class="clear"></div>

<div class="info"
     style="min-height: 420px; position: relative; border-radius: 10px; background: transparent; overflow: hidden;">
    <%- page.player %>
</div>

<div class="clear"></div>

<div class="info">
    <div class="sharingbutton" style="float: left">
        <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=<%- movie.url %>"
           target="_blank" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                         enable-background="new 0 0 24 24" xml:space="preserve">
                        <g>
                            <path d="M18.768,7.465H14.5V5.56c0-0.896,0.594-1.105,1.012-1.105s2.988,0,2.988,0V0.513L14.171,0.5C10.244,0.5,9.5,3.438,9.5,5.32 v2.145h-3v4h3c0,5.212,0,12,0,12h5c0,0,0-6.85,0-12h3.851L18.768,7.465z"/>
                        </g>
                    </svg>
                </div>
            </div>
        </a>
        <a class="resp-sharing-button__link"
           href="https://twitter.com/intent/tweet/?text=<%- encodeURIComponent(page.l.online + ' ' + movie.title) %>&url=<%- movie.url %>"
           target="_blank" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                         enable-background="new 0 0 24 24" xml:space="preserve">
                        <g>
                            <path d="M23.444,4.834c-0.814,0.363-1.5,0.375-2.228,0.016c0.938-0.562,0.981-0.957,1.32-2.019c-0.878,0.521-1.851,0.9-2.886,1.104 C18.823,3.053,17.642,2.5,16.335,2.5c-2.51,0-4.544,2.036-4.544,4.544c0,0.356,0.04,0.703,0.117,1.036 C8.132,7.891,4.783,6.082,2.542,3.332C2.151,4.003,1.927,4.784,1.927,5.617c0,1.577,0.803,2.967,2.021,3.782 C3.203,9.375,2.503,9.171,1.891,8.831C1.89,8.85,1.89,8.868,1.89,8.888c0,2.202,1.566,4.038,3.646,4.456 c-0.666,0.181-1.368,0.209-2.053,0.079c0.579,1.804,2.257,3.118,4.245,3.155C5.783,18.102,3.372,18.737,1,18.459 C3.012,19.748,5.399,20.5,7.966,20.5c8.358,0,12.928-6.924,12.928-12.929c0-0.198-0.003-0.393-0.012-0.588 C21.769,6.343,22.835,5.746,23.444,4.834z"/>
                        </g>
                    </svg>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="clear"></div>

<% if (typeof contents === 'object' && contents.length) { %>
    <% contents.forEach(function (content) { %>
        <div class="cinemapress-news-block">
            <div style="margin: 0; padding: 10px">
                <a href="<%- content.url %>" class="cinemapress-news lazy" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAQAAABrVzQQAAABLUlEQVR42u3RMQEAAAgDoC251W3hI1SgmfBMpUtHOtKRjnSkIx3pSEc60pGOdKQjHelIl450pCMd6UhHOtKRjnSkIx3pSEc60pEuHelIRzrSkY50pCMd6UhHOtKRjnSkI1060pGOdKQjHelIRzrSkY50pCMd6UhHunSkIx3pSEc60pGOdKQjHelIRzrSkY506dKlIx3pSEc60pGOdKQjHelIRzrSkY50pEtHOtKRjnSkIx3pSEc60pGOdKQjHelIl450pCMd6UhHOtKRjnSkIx3pSEc60pEuHelIRzrSkY50pCMd6UhHOtKRjnSkI1060pGOdKQjHelIRzrSkY50pCMd6UhHunTp0pGOdKQjHelIRzrSkY50pCMd6UhHOtKlIx3pSEc60pGOdKRzawFrr2QBa00SvgAAAABJRU5ErkJggg==');" data-bg="<%- content.image %>">
                    <div class="cinemapress-news-title">
                        <%= content.title %>
                    </div>
                </a>
            </div>
        </div>
    <% }); %>
    <div class="clear"></div>
<% } %>

<% if (typeof page.adv === 'object' && page.adv.under) { %>
    <div style="text-align: center; margin: 10px auto;">
        <%- page.adv.under %>
    </div>
    <div class="clear"></div>
<% } %>

<div class="info">
    <% if (page.comments) { %>
        <%- page.comments %>
    <% } else { %>
        <div id="cinemapress-comments">
            <h3 class="cinemapress-comment-h3">
                <%- page.l.comments %>
                <span class="cinemapress-comment-count cinemapress-comment-bg-color"><%- comments && comments.count || '0' %></span>
            </h3>
            <% if (typeof comments === 'object' && typeof comments.config === 'object') { %>
                <% if (comments.config.star_rating) { %>
                    <div class="cinemapress-comment-star">
                        <div class="cinemapress-comment-star-down" data-comment-star="1"></div>
                        <div class="cinemapress-comment-star-award" data-comment-star="3"></div>
                        <div class="cinemapress-comment-star-up" data-comment-star="2"></div>
                    </div>
                <% } %>
                <div class="cinemapress-comment-form">
                    <% if (comments.config.bb_codes) { %>
                        <div class="cinemapress-comment-form-bb">
                            <span class="cinemapress-comment-bg cinemapress-comment-form-bb-b"
                                  data-bb-code="b"><%- page.l.bold.toLowerCase() %></span>
                            <span class="cinemapress-comment-bg cinemapress-comment-form-bb-i"
                                  data-bb-code="i"><%- page.l.italic.toLowerCase() %></span>
                            <span class="cinemapress-comment-bg cinemapress-comment-form-bb-spoiler"
                                  data-bb-code="spoiler">👻 <%- page.l.spoiler.toLowerCase() %></span>
                            <span class="cinemapress-comment-bg cinemapress-comment-form-bb-search"
                                  data-bb-code="search">🔍 <%- page.l.search.toLowerCase() %></span>
                            <input class="cinemapress-comment-bg cinemapress-comment-form-anonymous"
                                   name="comment_anonymous" type="text" placeholder="<%- page.l.username %>">
                        </div>
                    <% } %>
                    <div>
                        <div class="cinemapress-comment-textarea-div">
                            <textarea name="comment_text" class="cinemapress-comment-bg cinemapress-comment-textarea"
                                      placeholder="<%- page.l.comment %>" autocomplete="off" autocapitalize="off"
                                      spellcheck="false"></textarea>
                            <div class="cinemapress-comment-form-bg"></div>
                            <div class="cinemapress-comment-button-bg hover-off" data-comment-type="submit">
                                <span class="cinemapress-comment-button-text"></span>
                            </div>
                        </div>
                        <% if (comments.config.question) { %>
                            <div class="cinemapress-comment-bg cinemapress-comment-question" style="display: none">
                                <div class="cinemapress-comment-question-text"><%- comments.config.question %></div>
                                <div class="cinemapress-comment-question-answer">
                                    <% if (comments.config.question_yes) { %>
                                        <span class="cinemapress-comment-question-answer-yes"><%- page.l.yes %></span>
                                    <% } %>
                                    <% if (comments.config.question_not) { %>
                                        <span class="cinemapress-comment-question-answer-not"><%- page.l.not %></span>
                                    <% } %>
                                </div>
                                <% if (comments.config.question_yes) { %>
                                    <div class="cinemapress-comment-question-text-yes" style="display: none">
                                        <%- comments.config.question_yes %>
                                    </div>
                                <% } %>
                                <% if (comments.config.question_not) { %>
                                    <div class="cinemapress-comment-question-text-not" style="display: none">
                                        <%- comments.config.question_not %>
                                    </div>
                                <% } %>
                                <div class="cinemapress-comment-question-bg"></div>
                                <% if (comments.config.question_poster) { %>
                                    <div class="cinemapress-comment-question-bg-poster"
                                         style="background-image:url('<%- comments.config.question_poster %>')"></div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                    <div style="font-size:8px;text-align:right;opacity:.2">This site is protected by reCAPTCHA and the
                        Google <a href="https://policies.google.com/privacy" style="font-size:8px" target="_blank">Privacy
                            Policy</a> and <a href="https://policies.google.com/terms" style="font-size:8px"
                                              target="_blank">Terms of Service</a> apply.
                    </div>
                </div>
                <%- comments.indexer ? comments.indexer : '' %>
                <% if (comments.list && comments.list.length) { %>
                    <% comments.list.forEach(function (comment) { %>
                        <div class="cinemapress-comment" id="c<%- comment.id %>">
                            <div class="cinemapress-comment-head">
                                <div class="cinemapress-comment-head-avatar">
                                    <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                                </div>
                                <% if (comments.config.star_rating) { %>
                                    <% if (comment.star === 1) { %>
                                        <div class="cinemapress-comment-head-star">
                                            <div class="cinemapress-comment-star-down"></div>
                                        </div>
                                    <% } else if (comment.star === 2) { %>
                                        <div class="cinemapress-comment-head-star">
                                            <div class="cinemapress-comment-star-up"></div>
                                        </div>
                                    <% } else if (comment.star === 3) { %>
                                        <div class="cinemapress-comment-head-star">
                                            <div class="cinemapress-comment-star-award"></div>
                                        </div>
                                    <% } %>
                                <% } %>
                                <div class="cinemapress-comment-head-meta">
                                    <div class="cinemapress-comment-head-meta-vote">
                                                        <span class="cinemapress-comment-like" data-comment-type="like"
                                                              data-comment-id="<%- comment.id %>"
                                                              title="<%= page.l.like %>">
                                                            <span class="cinemapress-comment-like-icon"></span>
                                                            <span class="cinemapress-comment-like-number"><%- comment.like %></span>
                                                        </span>
                                        <span class="cinemapress-comment-dislike" data-comment-type="dislike"
                                              data-comment-id="<%- comment.id %>" title="<%= page.l.dislike %>">
                                                            <span class="cinemapress-comment-dislike-number"><%- comment.dislike %></span>
                                                            <span class="cinemapress-comment-dislike-icon"></span>
                                                        </span>
                                        <span class="cinemapress-comment-reply" data-reply-id="<%- comment.id %>"
                                              data-bb-code="b" data-bb-value="<%- comment.user %>"
                                              title="<%= page.l.reply %>">
                                                            <span class="cinemapress-comment-reply-icon"></span>
                                                        </span>
                                    </div>
                                    <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                                        <div class="cinemapress-comment-user-name">
                                            <%- comment.user %>
                                        </div>
                                        <div class="cinemapress-comment-user-said">
                                            <%- page.l.said %>
                                        </div>
                                        <div class="cinemapress-comment-user-date">
                                            <%- comment.date %>
                                        </div>
                                        <div class="cinemapress-comment-user-link">
                                            <a href="<%- comment.url %>#c<%- comment.id %>">#</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cinemapress-comment-bg cinemapress-comment-radius">
                                <%- comment.comment %>
                            </div>
                            <% if (comment.admin) { %>
                                <div class="cinemapress-comment-admin">
                                    <div class="cinemapress-comment-bg cinemapress-comment-admin-text">
                                        <%- comment.admin %>
                                    </div>
                                    <div class="cinemapress-comment-admin-bg"></div>
                                </div>
                            <% } %>
                        </div>
                    <% }); %>
                <% } %>
            <% } %>
            <div class="cinemapress-comment-arrow">
                <% if (comments && comments.prev) { %>
                    <div class="cinemapress-prev-comments"
                         onclick="window.location.href='?page=<%- comments.prev %>#cinemapress-comments'"></div>
                <% } %>
                <% if (comments && comments.next) { %>
                    <div class="cinemapress-next-comments"
                         onclick="window.location.href='?page=<%- comments.next %>#cinemapress-comments'"></div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>

<div class="clear"></div>

<% if (typeof movies === 'object') {
        for (var type in movies) {
if (movies.hasOwnProperty(type) && movies[type].length) {
movies[type].forEach(function (category) { %>

    <h2><%- category.name %></h2>

    <div class="info block">

        <% if (typeof category === 'object' && category.movies && category.movies.length) {
        category.movies.forEach(function (movie) { %>

            <a href="<%- movie.url %>" title="<%= movie.title %> (<%- movie.year %>)">
                <%= movie.title %> (<%- movie.year %>)
            </a>

            <div class="clear"></div>

        <% }); } %>

    </div>

<% }); } } } %>

<%- include('includes/footer.ejs'); -%>