<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>
<html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>
<html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>
<html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>
<html class="no-js">                       <![endif]-->
<!--[if !IE]><!-->
<html class="no-js">                   <!--<![endif]-->
<head>

    <%- include('includes/head.ejs'); -%>

</head>
<body>
<div id="container" class="clearfix">

    <%- include('includes/left.ejs'); -%>

    <%- include('includes/right.ejs'); -%>

    <div id="main" class="clearfix">

        <%- include('includes/header-main.ejs'); -%>

        <div id="content" class="clearfix">

            <%- include('includes/header-sec.ejs'); -%>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/codes" class="btn">
                            <%= __('Вставить код на веб-сайт') %>
                        </a>
                        <a href="https://CinemaPress.io/<%- config.language %>/admin/codes.html" class="btn"
                           title="<%= __('Вставка кодов счетчиков, рекламы и т.п.') %>" target="_blank">
                            <i class="fa fa-info-circle text-muted"></i>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (config.codes) { %>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="cinema-box">
                                    <div class="cinema-box-header">
                                        <div class="cinema-label">
                                            <i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;<%= __('Вставить код в верх веб-страницы') %>
                                        </div>
                                        <div class="cinema-label hidden-xs" style="float: right">
                                            <a href="https://CinemaPress.io/<%- config.language %>/admin/codes.html" class="csstip" data-title="<%= __('Вставка кода внутрь тега head') %>"
                                               target="_blank">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="inner-padding">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 text-center">
                                                <textarea class="form-control textarea" name="config.codes.head"
                                                          autocomplete="off" autocapitalize="off"
                                                          spellcheck="false"><%= config.codes.head %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer-10"></div>

                            <div class="col-sm-12">
                                <div class="cinema-box">
                                    <div class="cinema-box-header">
                                        <div class="cinema-label">
                                            <i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;<%= __('Вставить код в низ веб-страницы') %>
                                        </div>
                                        <div class="cinema-label hidden-xs" style="float: right">
                                            <a href="https://CinemaPress.io/<%- config.language %>/admin/codes.html" class="csstip"
                                               data-title="<%= __('Вставка кода перед закрывающимся тегом body') %>"
                                               target="_blank">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="inner-padding">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 text-center">
                                                <textarea class="form-control textarea" name="config.codes.footer"
                                                          autocomplete="off" autocapitalize="off"
                                                          spellcheck="false"><%= config.codes.footer %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer-10"></div>

                            <div class="col-sm-12">
                                <div class="cinema-box">
                                    <div class="cinema-box-header">
                                        <div class="cinema-label">
                                            <i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;<%= __('robots.txt') %>
                                        </div>
                                        <div class="cinema-label hidden-xs" style="float: right">
                                            <a href="https://CinemaPress.io/<%- config.language %>/admin/codes.html" class="csstip" data-title="<%= __('Код файла robots.txt') %>" target="_blank">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="inner-padding">
                                        <div class="row">
                                            <% if (config.codes.robots.indexOf('User-agent: *\nDisallow: /\n') + 1) { %>
                                                <div class="col-lg-12 col-xs-12 text-center" style="margin-bottom: 10px" id="allow">
                                                    <span class="btn btn-primary btn-sm btn-block allow" onclick="document.getElementById('robots').value = document.getElementById('robots').value.replace('User-agent: *\nDisallow: /\n', 'User-agent: *\nAllow: /\n');document.getElementById('save').click();this.innerHTML='<span class=\'fa fa-spinner fa-spin\'></span>';setTimeout(function() {document.getElementById('allow').style.display = 'none'}, 5000)">
                                                        <i class="fas fa-robot"></i>&nbsp;&nbsp;<%= __('Открыть индексацию веб-сайта') %>
                                                    </span>
                                                </div>
                                                <style>
                                                    .allow {
                                                        background: #1a2035;
                                                        border: 1px solid #2f374b !important;
                                                    }
                                                    .allow:hover {
                                                        background: #151a2a;
                                                        border: 1px solid #2f374b !important;
                                                    }
                                                </style>
                                            <% } %>
                                            <div class="col-lg-12 col-xs-12 text-center">
                                                <textarea class="form-control textarea" name="config.codes.robots" autocomplete="off" autocapitalize="off" spellcheck="false" style="border-bottom: 0; border-radius: 3px 3px 0 0" id="robots"><%- config.codes.robots %></textarea>
                                                <div class="text-left sitemap-robots">
                                                    <div>
                                                        Sitemap: <%- config.protocol + config.subdomain + config.domain + '/' + config.urls.sitemap %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="spacer-10"></div>

                                            <div class="col-sm-12">
                                                <div class="cinema-box">
                                                    <div class="cinema-box-header">
                                                        <div class="cinema-label">
                                                            <i class="fas fa-door-closed"></i>&nbsp;&nbsp;&nbsp;<%= __('Просмотр файла robots.txt и карты сайта') %>
                                                        </div>
                                                        <div class="cinema-label hidden-xs" style="float: right">
                                                            <a href="https://CinemaPress.io/<%- config.language %>/admin/codes.html"
                                                               class="csstip" data-title="<%= __('Ограничение на просмотр файла robots.txt и карты сайта для людей и для ботов') %>"
                                                               target="_blank">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="inner-padding">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xs-12 text-center">
                                                                <div class="inline-labels">
                                                                    <label>
                                                                        <input name="config.user_bot" value="1" <% if (config.user_bot) { %> checked=""<% } %> type="radio"><span></span> <%= __('Разрешить всем') %>
                                                                    </label>
                                                                    <label>
                                                                        <input name="config.user_bot" value="0" <% if (!config.user_bot) { %> checked="" <% } %> type="radio"><span></span> <%= __('Только ботам') %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <% } %>

                </div>
            </div>

            <%- include('includes/footer.ejs'); -%>

        </div>
    </div>
</div>

</body>
</html>