<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head lang="<% if (typeof language !== 'undefined') { %><%- language %><% } else { %>en<% } %>">

    <%- include('admin/includes/head.ejs'); -%>

    <style>
        html{height:100%;min-height:100%;margin:0;padding:0}body{position:relative;height:100%;min-height:100%;margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:20px}#error-container{height:100%;min-height:100%;width:100%;background-image: url("/themes/default/public/admin/images/404.jpg");background-size:cover;}#error-box{height:100%;min-height:100%;width:380px;padding:60px 40px 40px}header h1{width:100%;float:left;font-size:80px;font-weight:700;line-height:80px;margin:5px 0}header h2{width:100%;float:left;font-size:16px;font-weight:400;margin:0}.error-content{float:left;width:100%;margin:30px 0;text-align:center}.breadcrumb{float:left;width:100%;margin:30px 0 0}.breadcrumb a:hover{text-decoration:underline}.p{background:#000;border-radius:4px;padding:5px 10px;color:#f00;margin:10px 3px}.w{background:#000;border-radius:4px;padding:5px 10px;color:#fff;margin:10px 3px}
    </style>

</head>
<body>
<div id="error-container" class="clearfix">
    <div id="error-box">
        <header>
            <h1><% if (typeof status !== 'undefined') { %><%- status %><% } else { %>Error<% } %></h1>
            <h2><% if (typeof language !== 'undefined' && language === 'ru') { %>Ошибка<% } else { %>Error<% } %></h2>
            <ul class="breadcrumb">
                <li><a href="/"><% if (typeof language !== 'undefined' && language === 'ru') { %>Главная<% } else { %>Home<% } %></a></li>
                <li><a href="javascript:void(0)" onclick="window.history.back();"><% if (typeof language !== 'undefined' && language === 'ru') { %>Назад<% } else { %>Back<% } %></a></li>
            </ul>
        </header>
        <div class="error-content">
            <form action="/<% if (typeof search !== 'undefined') { %><%- search %><% } else { %>search<% } %>" method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="<% if (typeof language !== 'undefined' && language === 'ru') { %>Название фильма<% } else { %>Title movie<% } %>" type="text" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="fa fa-search"></span> <% if (typeof language !== 'undefined' && language === 'ru') { %>Найти<% } else { %>Search<% } %></button>
                </span>
                </div>
            </form>
        </div>
        <div class="error-content">
            <% if (typeof message !== 'undefined') { %><%- message %><% } %>
        </div>
    </div>
    <div id="particles-top" style="left:380px;z-index:1000"></div>
</div>
<script src="/themes/default/public/admin/js/particles.min.js"></script>
<script>
    particlesJS("particles-top", {"particles":{"number":{"value":160,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":1,"random":true,"anim":{"enable":true,"speed":1,"opacity_min":0,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":4,"size_min":0.3,"sync":false}},"line_linked":{"enable":false,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":1,"direction":"none","random":true,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":600}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"bubble"},"onclick":{"enable":false,"mode":"repulse"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"enable":false,"opacity":1}},"bubble":{"distance":250,"size":0,"duration":2,"opacity":0,"speed":3},"repulse":{"distance":400,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
</script>
</body>
</html>